<input type="text" placeholder="Nombre" [(ngModel)]="nombre"><br>
<input type="number" placeholder="precio" [(ngModel)]="precio"><br>
<input type="checkbox" [(ngModel)]="alquiler">Alquiler<br>
<input type="number" placeholder="habitaciones" [(ngModel)]="habitaciones"><br>
<input type="text" placeholder="foto" [(ngModel)]="foto"><br>
<input type="text" placeholder="direccion" [(ngModel)]="direccion"><br>
<input type="checkbox" [(ngModel)]="tv">TV
<input type="checkbox" [(ngModel)]="wc">WC
<input type="checkbox" [(ngModel)]="cocina">Cocina
<input type="checkbox" [(ngModel)]="jardin">Jardín<br>

<i (click)="new()" class="fa fa-4 fa-plus-circle" aria-hidden="true"></i>